<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>U6G9Y6F2J2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.htzq.htdzhiPhone</key>
		<string>0935d113-8084-4dff-8272-f15c8c7b9ead</string>
	</dict>
	<key>compileBitcode</key>
	<false/>
</dict>
</plist>
