<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentEnv</key>
	<string>UAT</string>
	<key>Develop</key>
    <dict>
        <key>H5Server</key>
        <string>dev_h5url</string>
        <key>AppServer</key>
        <string>dev_app_server_address</string>
        <key>site_quote</key>
        <string>dev_site_quote</string>
        <key>site_trade</key>
        <string>dev_site_trade</string>
    </dict>
	<key>UAT</key>
	<dict>
		<key>H5Server</key>
		<string>uat_h5url</string>
		<key>AppServer</key>
		<string>uat_app_server_address</string>
		<key>site_quote</key>
		<string>uat_site_quote</string>
		<key>site_trade</key>
		<string>uat_site_trade</string>
	</dict>
	<key>Release</key>
    <dict>
        <key>H5Server</key>
        <string>release_h5url</string>
        <key>AppServer</key>
        <string>release_app_server_address</string>
        <key>site_quote</key>
        <string>release_site_quote</string>
        <key>site_trade</key>
        <string>release_site_trade</string>
    </dict>
</dict>
</plist>
